[Unit]
Description=getsdone daemon
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/devops/bin
ExecStart=/home/devops/bin/gogetsdone -database /home/devops/data/getsdone.db -domain getsdone.xyz
Restart=always

[Install]
WantedBy=multi-user.target

